CREATE TABLE IF NOT EXISTS drive_files (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  original_name TEXT NOT NULL,
  filename TEXT NOT NULL,
  file_path TEXT NOT NULL,
  user_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
  file_size BIGINT NOT NULL,
  mime_type TEXT,
  file_hash TEXT,
  download_count INTEGER DEFAULT 0,
  is_public BOOLEAN DEFAULT false,
  author_name TEXT,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- 创建索引
CREATE INDEX IF NOT EXISTS idx_drive_files_user_id ON drive_files(user_id);
CREATE INDEX IF NOT EXISTS idx_drive_files_created_at ON drive_files(created_at);

-- 启用RLS
ALTER TABLE drive_files ENABLE ROW LEVEL SECURITY;

-- 创建RLS策略
DROP POLICY IF EXISTS "Users can view their own drive files" ON drive_files;
CREATE POLICY "Users can view their own drive files" ON drive_files
  FOR SELECT USING (auth.uid() = user_id);

DROP POLICY IF EXISTS "Users can insert their own drive files" ON drive_files;
CREATE POLICY "Users can insert their own drive files" ON drive_files
  FOR INSERT WITH CHECK (auth.uid() = user_id);

DROP POLICY IF EXISTS "Users can update their own drive files" ON drive_files;
CREATE POLICY "Users can update their own drive files" ON drive_files
  FOR UPDATE USING (auth.uid() = user_id);

DROP POLICY IF EXISTS "Users can delete their own drive files" ON drive_files;
CREATE POLICY "Users can delete their own drive files" ON drive_files
  FOR DELETE USING (auth.uid() = user_id);